# Docker Compose: platform for all services (always linux/*; default amd64, on Mac M1/M2/M3 use arm64)
DOCKER_PLATFORM=linux/amd64
POSTGRES_IMAGE=postgres:18.4-alpine@sha256:9a8afca54e7861fd90fab5fdf4c42477a6b1cb7d293595148e674e0a3181de15
REDIS_IMAGE=redis:8.10.0-alpine@sha256:978f0e01593e65eed801f2402944efcd936d43b5027e4908a7897baf88ed6241
RABBITMQ_IMAGE=rabbitmq:4.3.4-alpine@sha256:a762c02d0c1fa7c3de1eca5d62b4fe9812649f41a3b38d716e1afcbe7e5387ad
ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.9.2@sha256:c03f6fe4af97d57c42518b8deaf2753ed338ee414812f258f9cf32c977fe0a53
KAFKA_IMAGE=confluentinc/cp-kafka:7.9.2@sha256:ecd1ce3c902fb5cfa7fc34881215f1a3e1abdcba5d0d9bbe6b0385ff6425e05c
MONGO_IMAGE=mongo:8.2.12@sha256:e0ce8c35124d4a9f9785532d1f268f39e9728ffa1cb38f46fa482436424c4bd3
OPENSEARCH_IMAGE=opensearchproject/opensearch:3.8.0@sha256:bcc1797519726ceb6d651d4a3e60b7c30da91793914a8dfe75fd441d4f641509

# DATABASE
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=fh_user
POSTGRES_PASSWORD=fh_password
POSTGRES_DATABASE=test_fh_db
POSTGRES_DSN=postgres://fh_user:fh_password@localhost:5432/test_fh_db

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=password
REDIS_DATABASE=0
REDIS_DSN=redis://default:password@localhost:6379/0

# RABBITMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=test
RABBITMQ_DSN=amqp://user:password@localhost:5672/test

# KAFKA
ZOOKEEPER_PORT=2181
KAFKA1_PORT=9094
KAFKA2_PORT=9095
KAFKA_BOOTSTRAP_SERVERS=localhost:9094,localhost:9095

# MONGO
MONGO_HOSTS=localhost
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=root
MONGO_AUTH_SOURCE=admin
MONGO_DATABASE=test
MONGO_DSN=mongodb://root:root@localhost:27017/test?authSource=admin

# OPENSEARCH
OPENSEARCH_PORT=9200
OPENSEARCH_PERFORMANCE_PORT=9600
OPENSEARCH_HOSTS=localhost:9200
